[core]
    editor = nvim
    pager = less -F -X
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    wipe = reset --hard HEAD
[pull]
	rebase = true
[fetch]
    prune = true
[push]
    autoSetupRemote = true
[init]
	defaultBranch = main
[user]
	name = William Hleucka
	email = william.hleucka@gmail.com
[color]
    branch = always
    diff = always
    interactive = always
    status = always
    ui = auto
