[core]
    editor = nvim
    pager = less -F -X
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    wipe = reset --hard HEAD
[pull]
	rebase = true
[fetch]
    prune = true
[push]
    autoSetupRemote = true
[init]
	defaultBranch = main
[user]
	name = William Hleucka
	email = william.hleucka@gmail.com
	signingkey = A92616B85E790701
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[color]
    ui = auto
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
